<mat-toolbar color="accent">
  <span id="logo">CinemaFlix</span>
</mat-toolbar>
<div class="main-page">
  <div class="content-wrapper">
    <h1 class="title">
      Welcome to CinemaFlix!
    </h1>
    <div class="button-div">
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        Register
      </button>

      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        Login
      </button>
    </div>
  </div>

</div>
